<%= simple_form_for([@play, @play.revues.build]) do |f|  %>
  <div id = "rating-form">
    <label> Rating </label>
  </div>
    <%= f.input :comment %>
    <%= f.button :submit, :class => "btn-custom2", value:"Create Review" %>
<% end %>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'revue[rating]'
  });
</script>